*{
   margin: 0;
}

body{
  background: url('images/background.png');
  background-attachment: fixed;
  font-family: calibri;
}

.container, #head {
	width: 900px;
	margin: auto;
}

#head, #foot{
 background-color: orange;
 color: white;
}

#head{
  position: fixed;
  top:0;
  z-index: 99;
}

#display img {
	width: 500px;
	border-radius: 15px;
}

.left{
  float: left;
  padding: 25px;
}

.right{
  float: right;
  padding: 25px;
}

#head ul{
 list-style: none;
}

#head li{
 display: inline;
 padding: 15px;
}

#head a{
  text-decoration: none;
  color: white;
}

#head li:hover a{
  color: red;
}

#head li:hover{
  border-bottom: solid 3px red;
}


#body{
 margin-top: 80px;
 padding: 15px;
 background-color: rgba(0, 0, 0, 0.5);
}

#foot{
  padding: 25px;
  text-align: center;
}

.img{
  width:150px;
  border: solid 3px white;
  opacity: 0.8;
}

.img:hover{
  opacity: 1;
  transform: scale(1.5);
}

#display{
   width: 500px;
   margin: auto;
}

#display iframe{
  width: 497px;
  height: 360px;
}

#title{
   background-color:rgba(0,0,0,0.8);
   color: white;
   padding: 15px;
   top: -100px;
   position: relative;
}

#thumb{
  margin: auto;
  text-align: center;
}

#thumb a {
	text-decoration: none;
}

.img.left {
	padding: 0;
	margin-right: 15px;
}

#body .left {
	padding: 0;
}

.clear {
	clear: both;
}